<div class="container-fluid mt-12">
  <div class="row">
    <div class="col-12 mt-5 col-sm-6">
      <img
        src="/assets/sources/adopta.png"
        class="img-fluid mx-5 w-1/2"
        alt="..."
      />
      <p class="text-xl mt-5 text-gray-600 tracking-widest">
        Al adoptar, estás brindando un hogar a un animal que de otra manera
        podría estar en un refugio o en la calle. Muchos animales abandonados o
        maltratados esperan una segunda oportunidad, y adoptarlos significa
        salvar sus vidas.
      </p>
    </div>
    <div class="col-12 col-sm-6">
      <img
        src="/assets/sources/bg-cat.png"
        class="img-fluid w-7/12 h-7/12 mx-auto"
        alt="..."
      />
    </div>
    <button-lg routerLink="/cats/list">Ver mascota</button-lg>
    <img
      src="/assets/sources/social.png"
      alt="redes sociales"
      class="w-40 mx-40"
    />
  </div>
</div>
