<div class="row container-fluid text-center mt-1 row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card w-fluid">
      <p class="text-center text-3xl mt-4 text-white">Pelusa</p>
      <img
        src="https://i.pinimg.com/originals/04/2e/bc/042ebc5a2b688aee1e45092cf272b29d.png"
        class="card-img-top w-screen"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Bella</p>
      <img
        src="https://i.pinimg.com/originals/f3/24/0f/f3240f6dfe765a25b2e4542d022d0cae.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Charlie</p>
      <img
        src="https://i.pinimg.com/originals/96/6e/64/966e6407252c6408231304827a1af974.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Simón</p>
      <img
        src="https://i.pinimg.com/originals/2a/e0/cf/2ae0cf7e7f142a9807e48edc09d6eb34.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Cupcake</p>
      <img
        src="https://png.pngtree.com/png-clipart/20231019/original/pngtree-cat-cartoon-doodle-kawaii-anime-coloring-page-cute-illustration-drawing-clipart-png-image_13361054.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Leo</p>
      <img
        src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-cute-anime-brown-kitten-chibi-sticker-png-image_13155299.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Fluffy</p>
      <img
        src="https://www.pngkey.com/png/full/28-284106_kittencake465-kawaii-anime-anime-oc-anime-chibi-kawaii.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Maximus</p>
      <img
        src="https://i.pinimg.com/originals/85/1d/19/851d19e760123bf7c1d7c82bb7c93ca3.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Ruby</p>
      <img
        src="https://toppng.com/uploads/thumbnail/chibi-anime-boy-png-anime-characters-chibi-boy-115628960298sjfjuh537.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Oliver</p>
      <img
        src="https://pbs.twimg.com/media/DHNBPYqXoAARY8p.png:large"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Pelusa</p>
      <img
        src="https://png.pngtree.com/png-clipart/20230930/original/pngtree-man-wearing-glasses-cartoon-cute-kawaii-anime-illustration-clip-art-character-png-image_13023421.png"
        class="card-img-top"
        alt="..."
      />
      <button class="w-1/2 p-2 rounded-full text-white text-bold">
        Delete Cat
      </button>
    </div>
  </div>
</div>
<my-menu></my-menu>

<style>
  .card {
    border-radius: 44px;
    width: 340px;
    height: 348px;
    max-width: auto;
    height: 100%;
    border: none;
    outline: thin solid lightcoral;
    background-color: #f7924a;
  }
  .card button {
    margin: 1rem auto;
    background-color: #ffc47e;
  }
  body {
    max-width: 99%;
    margin: auto;
  }
  .card img {
    width: 120px;
    height: 257px;
    margin: 2rem auto;
  }
  .card:hover {
    cursor: pointer;
  }
</style>
