<div class="row container-fluid text-center mt-1 row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card w-fluid">
      <a routerLink="/cats/new-hero">
        <p class="text-center text-3xl mt-4 text-white">Pelusa</p>
        <img
          src="../../../../assets/cats-img/gato1.png"
          class="card-img-top"
          alt="..."
        />
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Bella</p>
      <img
        src="../../../../assets/cats-img/gato2.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Charlie</p>
      <img
        src="../../../../assets/cats-img/gato3.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Simón</p>
      <img
        src="../../../../assets/cats-img/gato4.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Cupcake</p>
      <img
        src="../../../../assets/cats-img/gato5.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Leo</p>
      <img
        src="../../../../assets/cats-img/gato6.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Fluffy</p>
      <img
        src="../../../../assets/cats-img/gato7.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Maximus</p>
      <img
        src="../../../../assets/cats-img/gato8.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Ruby</p>
      <img
        src="../../../../assets/cats-img/gato9.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Oliver</p>
      <img
        src="../../../../assets/cats-img/gato10.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p class="text-center text-3xl mt-4 text-white">Pelusa</p>
      <img
        src="../../../../assets/cats-img/gato11.png"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
</div>
<my-menu></my-menu>

<style>
  .card {
    border-radius: 44px;
    width: 340px;
    height: 348px;
    max-width: auto;
    height: 100%;
    border: none;
    outline: thin solid lightcoral;
    background-color: #f7924a;
  }

  body {
    max-width: 99%;
    margin: auto;
  }
  .card img {
    width: 120px;
    height: 257px;
    margin: 2rem auto;
  }
  .card:hover {
    cursor: pointer;
  }
</style>
