<div class="w-screen h-screen bg-white sm:bg-gray-50 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <a routerLink="/auth/register" class="text-lg text-pink-500 mx-3"
      >Crea una cuenta</a
    >

    <img
      src="/assets/sources/login-img.png"
      alt="logo1"
      class="absolute w-96 lg:w-96 right-20 mx-20 bottom-20"
    />
    <img
      src="/assets/sources/vector-right.png"
      alt="logo2"
      class="absolute w-36 lg:w-36 h-screen right-0 bottom-0"
    />
  </div>
  <div class="relative w-full sm:w-7/12 lg:w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img class="w-2/2" src="/assets/sources/Inicio-sesion.png" alt="logo" />
    </header>

    <header class="flex justify-center">
      <img class="" src="/assets/sources/social.png" alt="logo" />
    </header>
  </div>

  <div class="bg-white mx-20 mt-11 mb-4 w-1/2">
    <div class="mb-4">
      <h1 class="bold-semibold text-center">Ingrese su email y contraseña</h1>
      <div class="space-y-4">
        <div class="relative">
          <input
            type="text"
            placeholder="Enter Email"
            maxlength="100"
            minlength="3"
            required
            class="bg-gray-100 p-3 border-gray-300 w-full mb-3 rounded"
          />
        </div>
        <div class="relative">
          <input
            type="password"
            placeholder="Enter Password"
            maxlength="15"
            minlength="3"
            required
            class="bg-gray-100 p-3 border-gray-300 mb-3 w-full rounded"
          />
        </div>

        <div class="text-center">
          <button
            routerLink="/conditions"
            mat-button
            mat-flat-button
            class="w-full p-3"
            style="background-color: #f7924a"
          >
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
